In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

# Data Upload and Query

In [6]:
df = pd.read_csv('aat1_csv.csv')
df1 = pd.read_csv('dataset.csv')
df_usa = df1[df1.iso == 'USA']
df_usa_41_10 = df_usa[(df_usa.year >= 1941) & (df_usa.year <= 2010)]

# Merge Data Frame

In [38]:
merged = pd.merge(df_usa_41_10, df, on='year')
#merged.fillna(0)

# Features and Target Values

In [41]:
features = merged[['labor_force', 'employed_total','employed_percent','unemployed','unemployed_percent','population','not_in_labor']]
targetVar = merged.pk_norm

# Training Data and Gaussian NÃ¤ive Bayes

In [42]:
featureTrain, featureTest, targetTrain, targetTest = train_test_split(features,targetVar,test_size=0.3)
model = GaussianNB()
fittedModel = model.fit(featureTrain,targetTrain)
predictions = fittedModel.predict(featureTest)

# Confusion_matrix and

In [29]:
print(confusion_matrix(targetTest,predictions))

[[21  0]
 [ 1  0]]

# Accuracy_score

In [30]:
print(accuracy_score(targetTest,predictions))

0.9545454545454546

In [12]:
df.head()

,year,population,labor_force,population_percent,employed_total,employed_percent,agrictulture_ratio,nonagriculture_ratio,unemployed,unemployed_percent,not_in_labor,footnotes
0,1941,99900,55910,56.0,50350,50.4,9100,41250,5560,9.9,43990,NaN
1,1942,98640,56410,57.2,53750,54.5,9250,44500,2660,4.7,42230,NaN
2,1943,94640,55540,58.7,54470,57.6,9080,45390,1070,1.9,39100,NaN
3,1944,93220,54630,58.6,53960,57.9,8950,45010,670,1.2,38590,NaN
4,1945,94090,53860,57.2,52820,56.1,8580,44240,1040,1.9,40230,NaN

In [26]:
df1.head()

,ccode,iso,year,govvote,oppvote,frac,partycount,right,left,extr,...,pk_fin,pk_norm,pk_dis,cpi,govcris,turnover,vetopl,dict,election,election_year
0,1,AUS,1870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,0,NaN,NaN
1,1,AUS,1871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,0,NaN,NaN
2,1,AUS,1872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,0,NaN,NaN
3,1,AUS,1873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,0,NaN,NaN
4,1,AUS,1874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,0,NaN,NaN